<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BChess (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BChess (macOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BChess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BChessTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BChessUI (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BChessUI (macOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A753598F1FDE0947008D1DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A75359A01FDE0947008D1DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A75359AB1FDE0947008D1DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7688F1E204A6911004B1E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7688F31204A6911004B1E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7688F3C204A6912004B1E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7712D131FB916E900E7E802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7AFCCA51FB4E40D00AE3D85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
